.error {
    color: rgb(147, 37, 37);
    border: 1px solid rgb(165, 51, 51);
    background-color: #ffa5ab;
}

.success {
    color: rgb(12, 100, 12);
    border: 1px solid rgb(7, 101, 7);
    background-color: #b5ffde;
}

.error,
.success {
    text-align: center;
}

.error ul,
.success ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}

.link {
    list-style: none;
    text-decoration: none;
}
.card {
    margin-top: 20px;
}